@using EPiServer.Shell
@using Geta.Tags.Controllers


@model Geta.Tags.Models.TagListViewModel

<link href="@Paths.ToClientResource(typeof(GetaTagsAdminController), "ClientResources/styles/PagedList.css")" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Geta Tags Management";
}

@using (Html.BeginForm("Index", "GetaTagsAdmin", FormMethod.Get))
{
<p>
    Find by tag name: @Html.TextBox("SearchString", ViewBag.SearchString as string)
    <input type="submit" value="Search" class="geta-submit-button"/>
</p>
}
<p>
    Total tags: @Model.TotalItemCount
</p>
<p class="EP-systemInfo">@ViewBag.StatusMessage</p>

<div class="epi-contentContainer epi-padding-large">
    <table id="FullRegion_DatabaseTable" class="epi-default">
        <tbody>
            <tr>
                <th>Tag name</th>
                <th colspan="2">Group key</th>
            </tr>

            @foreach (var item in Model.Tags)
            {
                <tr>
                    <td width="35%">
                        @Html.DisplayFor(x => item.Name)
                    </td>
                    <td width="35%">
                        @Html.DisplayFor(x => item.GroupKey)
                    </td>
                    <td>
                        <div class="geta-action-buttons-container">
                            <span>
                                @Html.ActionLink("Edit", "Edit",
                                    new {tagId = item.Id, page = Model.PageNumber, searchString = ViewBag.SearchString})
                            </span>
    
                            <span>
                                @using (Html.BeginForm("Delete", "GetaTagsAdmin", FormMethod.Post, new {id = "deleteForm-" + item.Id}))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("tagId", item.Id)
                                    @Html.Hidden("page", Model.PageNumber)
                                    @Html.Hidden("searchString", ViewBag.SearchString as string)
                                    <a href="javascript:document.getElementById('deleteForm-@item.Id').submit()" class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Delete">Delete</a>
                                }
                            </span>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    <div>
        <ul class="pagination">
            @for (var i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(i == Model.PageCount ? "active" : "")">
                    <a asp-page="@Url.Action("Index", new { i, searchString = ViewBag.SearchString })" class="page-link">@i</a>
                </li>
            }
        </ul>
    </div>
</div>